*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  /* font-weight: 400; */
  line-height: 3rem;
  background-size: cover;
  background-color: #eb455f;
  columns: #fcffe7;
  position: relative;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  color: #fcffe7;
  margin: 1rem 0 3rem 0;
  font-size: 3rem;
}

.container {
  margin: 30rem 0 20rem 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 45rem;
  border: 1px solid #fcffe7;
  border-radius: 1rem;
}

.btn {
  background-color: #bad7e9;
  color: #2b3467;
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  margin: 1rem 2rem 1rem 0;
  cursor: pointer;
}

.btn-again {
  margin-top: 2rem;
  width: 15rem;
}

.text {
  width: 40rem;
  height: 12rem;
  background-color: #fcffe7;
  border: none;
  border-radius: 1rem;
  margin-top: 7rem;
}

.result,
.choice {
  text-align: center;
  padding: 1rem;
}

.result {
  color: #eb455f;
  font-size: 2rem;
}

.choice {
  color: #2b3467;
  font-size: 1.5rem;
}

.hidden {
  opacity: 70%;
}

.scores {
  display: flex;
  gap: 15rem;
  margin: 7rem 0 0 0;
}

.playeScore,
.ComputerScore {
  color: #2b3467;
  font-size: 3rem;
}
